<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--配置mybatis全局的属性-->
    <settings>
        <!--使用jdbc的getGeneratedKeys 获取数据库自增主键值-->
        <setting name="useGeneratedKeys" value="true"/>
        <!--使用列别名替换列名，默认为true
        select name as title from table-->
        <setting name="useColumnLabel" value="true"/>
        <!--开启驼峰命名转换-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 在本项目之中开启二级缓存 -->
        <!--<setting name="cacheEnabled" value="true"/>-->
	    <!-- 打印查询语句 -->
	    <setting name="logImpl" value="STDOUT_LOGGING" />
	
	    <!--解决，查询返回结果含null没有对应字段值问题-->
	    <setting name="callSettersOnNulls" value="true"/>
    </settings>
    
    <typeAliases>
    	<typeAlias type="java.util.Map" alias="Map"/>
  		<typeAlias type="java.util.List" alias="List"/>
  		<package name="springMVC.dto"/>
    </typeAliases>
    
    <plugins>
    	<!-- 使用mybatis分页插件 -->
<!--     	<plugin interceptor="com.github.pagehelper.PageInterceptor">
    		<property name="helperDialect" value="mysql" />
      		该参数默认为false,设置为true时，使用RowBounds分页会进行count查询
      		<property name="rowBoundsWithCount" value="true"/>
      	</plugin> -->
    	
    	<!-- mybatise替换问号（参数）后的完整sql，拦截器插件 -->
    	<plugin interceptor="springMVC.interceptor.FullSQLInterceptor">
      		<property name="dialect" value="mysql" />
      	</plugin>
    </plugins>
</configuration>